body
  font-family: $font-main
  font-size: $font-size-mobile
  color: #fff
  font-weight: 700
  text-transform: uppercase

.container
  max-width: 992px
  padding: 0 20px
  margin: 0 auto

.header
  background-color: $main-color
  @include black-border

  &__txt
    font-size: 40px
    font-weight: 900
    text-align: center
    padding: 0 30px
    @include gradient-txt
    position: relative

    &::before,&::after
      position: absolute
      content: ''
      width: 40px
      height: 40px
      background-image: url('./../assets/img/star.png')
      background-size: 40px
      background-repeat: no-repeat
      left: 0
      top: 15%

    &::after
      right: 0
      left: auto

.draw
  margin: 10px 0
  display: flex
  @include black-border

  &__box
    border-right: 10px solid $main-color
    background: #fff

  &__img
    max-width: 60%
    display: block
    margin: 0 auto

  &__box.last
    border-right: none

.panel
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  &__el
    display: flex
    justify-content: center
    align-items: center
    flex-basis: 100%
    margin-bottom: 10px
    font-weight: 900
    background: $main-color
    color: #fdb44b
    @include black-border

  &__val
    color: #fff
    margin-left: 10px

  &__val.blue
    color: $fourth-color

  &__val_result.red-score,
  &__val.red-score
    color: orangered

  &__input
    width: 100%
    font-size: 16px
    font-family: $font-main
    padding: 5px
    margin: 10px 0
    text-align: center
    text-transform: uppercase
    @include black-border

  &__el_btn
    font-size: 24px
    cursor: pointer

.goals
  @include black-border
  background: $main-color
  padding: 10px

  &__title
    color: #fff
    font-size: 20px
    font-weight: 700
    text-align: center

  .goal
    display: flex
    justify-content: space-between
    padding: 10px 0

    &__status.animation
      animation: heartbeat 500ms forwards

  .bar
    border: 2px solid #fff
    margin-bottom: 20px

    &__inner
      height: 20px
      background: linear-gradient(to right, #fff, $second-color,)
      display: flex
      justify-content: end

    &__inner.completed
      width: 100% !important
      background: $third-color

      &_money
        font-weight: 700

@media (min-width: $mobile)

  body
    font-size: $font-size-tablet

  .header
    padding: 0 15px

    &__txt
      font-size: 50px

      &::before,&::after
        width: 50px
        height: 50px
        background-size: 50px

  .section,
  .draw
    margin-bottom: 15px

  .panel
    flex-wrap: nowrap

    &__input
      font-size: 25px
      max-width: 20%
      padding: 10px
      margin: 0

    &__el
      justify-content: space-around
      margin: 0 10px 0 0

    &__el.last
      margin: 0

    &__el_btn
      font-size: 30px
      margin: 0 0 0 10px

  .goals
    padding: 10px 20px

    &__title
      font-size: 30px

  @media (min-width: $tablet)

    body
      font-size: $font-size-desktop